[Unit]
Description=PyMap
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/PyMap
ExecStart=/PyMap/venv/bin/python3 /PyMap/main.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target